<div class="row no-gutters mx-auto my-5 ">
    <div  class=" w-50 col    my-auto mx-5">
        <img  src="../../assets/signin-image.jpg"  alt=""> <br> <br> <br>
    </div>

        <div class="w-50  col  my-auto       ">
            <h1><b> Sign Up  </b></h1> <br>

        <form [formGroup]="addUser" >
            <input type="text" id="username" placeholder="Enter Name" formControlName="name" >

<div *ngIf="addUser.controls.name.touched || addUser.controls.name.errors" class="text-danger">
    
        <div *ngIf="addUser.controls.name.errors.required">
    
        Name is required
    
        </div>
        </div>
            <br><br>
            <input type="email" id="email" placeholder="Enter Email" formControlName="email" >

            <div *ngIf=" addUser.controls.email.touched || addUser.controls.email.errors" class="text-danger">
    
                <div *ngIf="addUser.controls.email.errors.required">
            
                Email is required
            
                </div>
            </div>
             <br> <br>
            <input  type="password" id="password" placeholder="Enter Password" formControlName="password" >
            <div *ngIf="addUser.controls.password.errors || addUser.controls.password.dirty" class="text-danger">
    
            
                Password Must Contain(4-20) 1-char! 1-number!
            
            </div>
            <br><br>
            <button [disabled]="!addUser.valid" type="submit" (click)="registerUser()" class="btn btn-primary" >Sign Up</button> <br> <br> 

        </form>
            
 
         <span routerLink="/login" >   Already Having a account ? Log In</span> <br><br><br><br><br>

         <span id="login_option">Or login with</span> &nbsp; &nbsp; <span  (click)="login()"> <i class="fab fa-facebook-square"
            style="font-size: 28px;"></i> </span>

    &nbsp; &nbsp; <span href=""><i class="fab fa-twitter-square" style="font-size: 28px;"></i></span>
    &nbsp; &nbsp; <span  #loginRef><i class="fab fa-google" style="font-size: 28px;"></i></span>



            
            </div>
         

        


</div>